<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8">
    <title>Тесттік сайт</title>
    <link rel="stylesheet" th:href = "@{/css/style.css}" />
    <link rel="Icon" type="img/icon" href="images/qqq.jpg">
</head>
<header>
    <img src ="images/image_m.jpg" alt="logo">
</header>
<body>

<div class="kafe">
    <a><strong>Басты бет</strong></a> |
    <a href="/kafe/all">Кафелер тізімі</a> |
    <a href="/kafe/add">Кафелерди қосу</a>
</div>

<p>
    Суши мен роллдардың құрамында калорий саны аз болғанына қарамастан, өте тойымды болып келеді.
    Сол себепті кейбір диеталардың ережесі бойынша, аптаның бір күні тек суши мен ролл жеу керек.
    Мұншалықты пайдасына қарамастан, сушидің зияны да жоқ емес.  Аллергиясы бар адамдар үшін қызыл балық зиянды болуы мүмкін.
    Асқазан ауруына (гастрит) шалдыққан немесе асқазанда жарасы бар адамдарға да суши, роллды жемеген дұрыс.
    Көптеген мейрамханада суши мен роллдарды дайындап білмейді. Нағыз сушиді жасау өте қиын.
    Жапонияда суши жасауда тек жаңа балықты пайдаланса, біздің аспазшылар бірнеше сағат, күн бойы жатқан балықты пайдалана береді. Ал бұл ағзаға зиян. Сонымен қатар тағамды жемес бұрын оны иіскеп көріңіз. Егер сушидің иісі мүсәтір спиртіне ұқсас болса, жеуден бас тартқаныңыз абзал.

</p>
<footer>
    &copy;ALL rights reserved 2018

</footer>
</body>
</html>