<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8">
    <title>Тесттік сайт</title>
    <link rel="stylesheet" th:href = "@{/css/style.css}" />
    <link rel="Icon" type="img/icon" href="images/qqq.jpg">
</head>
<header>
    <img src ="images/image_m.jpg" alt="logo">
</header>
<body>

<div class="Restoran">
    <a><strong>Басты бет</strong></a> |
    <a href="/Restoran/all">Ресторан тізімі</a> |
    <a href="/Restoran/add">Ресторандарды қосу</a>
</div>

<p>
    Амик Григорян,
    директор ресторана
    «Большой Кремлевский»:

    — Прежде всего хочу сказать, что ресторанная культура нашего города постепенно развивается. Это не может не радовать.
    В связи с большой конкуренцией на ресторанном рынке Тулы особенно заметно то, что гости начали наконец-то приходить в рестораны за качественной едой и красивой подачей, разделяя заведения для так называемых «тусовок» и места для гастрономических удовольствий.
    Если говорить о трендах, то очень популярен сейчас кейтеринг. Рестораторы уже не боятся выходить за территорию своего ресторана — вот что сейчас по-настоящему в тренде. Ресторан «Большой Кремлевский» тоже не исключение, мы готовы организовать банкет или мероприятие любого уровня.
    Также сейчас очень популярно смешение кулинарных стилей. В нашем ресторане, например, идеально сочетается Европейская и Средиземноморская кухня, но не стоит забывать и о нашем месторасположении, так сказать, в самом сердце Тульского Кремля, это тоже определенная изюминка. Ведь в Кремль ежедневно приезжают туристы из разных городов и стран, поэтому наш ресторан, прежде всего — лицо нашего города. Поэтому гости обязательно должны попробовать наши фирменные десерты: торт с облепихой и пряничным коржом, а также «Яблочный Самбук» из натуральных белёвских яблок.
</p>
<footer>
    &copy;ALL rights reserved 2018

</footer>
</body>
</html>