<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href = "@{/css/bootstrap.min.css}" />
</head>
<body>

<div class="container">
    <div class="row justify-content-center">
        <div class="form-group">
            <form action="#" th:action="@{/kafedra/adds}" th:object = "${kafedraa}" method="POST">
                <label for="kafedraname">Kafedra Name</label>
                <input type="text" id="kafedraname" name="kafedraname" th:field = "*{KafedraName}" class="form-control" placeholder="Есімін енгіз" value="${kafedra.KafedraName}" />

                <label for="year">Years</label>
                <input type="text" id="year" name="year" th:field = "*{year}" class="form-control" placeholder="Тегін енгіз" value="${kafedra.year}" />

                <br/>
                <button type="submit" class="btn btn-primary">Сақтау</button>


            </form>
        </div>
    </div>
</div>

<script th:src = "@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
</body>
</html>